html {
	background-color: #151515;
}

#message-container {
	background-color: #292929;
	border: greenyellow 2px solid;
	color: greenyellow;
	font-size: 28px;
	width: 25vw;
	height: 70vh;
}

#message-container div {
	background-color: #1b1b1b;
	margin-top: 8px;
	margin-bottom: 8px;
}

#send-container {
	width: 25vw;
}

#message-input {
	background-color: greenyellow;
	height: 40px;
	font-size: 28px;
	width: 75%;
}

#send-container button {
	float: right;
	width: 18%;
	height: 34px;
	margin-top: 8px;
	margin-left: 1px;
	background-color: #292929;
	color: greenyellow;
	border: greenyellow 1px solid;
}

#game-container {
	position: absolute;
	left: 28vw;
	background-color: #292929;
	top: 8px;
	height: 780px;
	width: 720px;
	border: greenyellow 1px solid;
	padding: 20px;
	padding-left: 25px;
}

#game-container div {
	height: 45px;
	width: 45px;
	margin-top: 4px;
	vertical-align: middle;
	display: inline-block;
	color: black;
	cursor: pointer;
	font-size: 28px;
	background-image: url("game_img/blank.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: transparent 1px solid;
}

#game-container div:hover {
	border: cyan 1px solid;
}

#game-container .x {
	background-image: url("game_img/cat.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#game-container .y {
	background-image: url("game_img/cat2.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
